<%= form_for(@tile) do |f| %>
  <% if @tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tile.errors.count, "error") %> prohibited this tile from being saved:</h2>

      <ul>
      <% @tile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :x_index %><br>
    <%= f.number_field :x_index %>
  </div>
  <div class="field">
    <%= f.label :z_index %><br>
    <%= f.number_field :z_index %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
